.user-form > :not(:last-child) {
    margin-right: 10px;
  }
  
  .user-input {
    padding: 5px;
  }
  
  .user-button {
    cursor: pointer;
    padding: 5px;
  }
  
.film-search-success{
    color: green;
}

.film-search-success{
    color: red;
}