.Movie-row{
  display: flex ;
  flex-flow: row nowrap;
  justify-content: flex-start;
  /* height: 10px; */
}

.col{
  display:flex;
  flex: 1;
  /* font-size: 14px; */
  padding:8px 0;
  flex-shrink: 3;
  align-items: center;
  width: 200px;
}
.img{
  width: 100px;
}


.movies-loading-error > :not(:last-child) {
    margin-right: 10px;
  }