.Movie-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 600px;
  /* height: 10px; */
}

.col {
  display: flex;
  flex: 1;
  /* font-size: 14px; */
  padding: 8px 0;
  flex-shrink: 3;
  align-items: self-start;
  width: 300px;
}

.img {
  width: 200px;
}


.movies-loading-error> :not(:last-child) {
  margin-right: 10px;
}